@model Int32?
@{
    ViewBag.Title = "";
}

<h2>@Resources.ProductOrder.OrderSubmitted.</h2> @Html.ActionLink(@Resources.ProductOrder.SeeInvoiceLink, "Invoice", new {controller = "Orders", id = Model.Value})

