@model Web.ViewModels.HomeIndexViewModel

<section class="box-content box-1">
    <div class="container">
        <div class="heading">
            <h2>
                <span class="hr">@Html.Raw(Model.Article.ArticleHeadline)</span>
            </h2>
            <div class="intro">@Html.Raw(Model.Article.ArticleBody)</div>
        </div>
    </div>
</section>